<% include partials/top %>

<!-- Page Content -->
<div class="container-full">
    <div class="jumbotron-container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>You caught us before we're ready!</h1>
            <p class="introduction">We are working hard to put the finishing touches to Klarismo, it should be ready very soon. Please put your email in below to be notified as soon as we launch - we will send one email only!</p>

            <br/>
            <br/>

            <p>
                <form action="//klarismo.us10.list-manage.com/subscribe/post?u=585d959c608ab87aba22db043&amp;id=b6529c9f3a" method="post" class="form-inline" name="mc-embedded-subscribe-form" target="_blank">
                  <div class="form-group">
                    <label for="mce-EMAIL">Your email:</label>
                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" >
                  </div>
                  <button type="submit" class="btn btn-primary btn-large">Let me know!</button>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_585d959c608ab87aba22db043_b6529c9f3a" tabindex="-1" value=""></div>
                </form>
            </p>
        </header>
    </div>
 
<% include partials/bottom %>